@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
	--background: #0a0a0a;
	--foreground: #ededed;
    }
}

body {
    font-family: "MathJax_Typewriter", "Courier", "Courier New", "FreeMono", "Times New Roman";
    background: var(--background);
    color: #00FF00;
    
    letter-spacing: 5px;
}

#text-body {
    white-space: pre;
}

#cursor {
    animation: 0.5s linear infinite running blink;
    animation-timing-function: step-end;
}

@keyframes blink {
    0% {
	opacity: 100%;
    }
    50% {
	opacity: 0%;
    }
}
